<div class="user-profile-page">
    <div class="side-display">
        <%= render "shared/sidebar" %>
    </div>
    
    <div class="user-profile">
        <h1><%= @user.username %></h1>
        <%= cl_image_tag @user.profile.image.key, width: 250, crop: "fill", default_image: "placeholder-icon_vcawzm.png" %>

        <h2>Profile Information</h2>
        <%= @user.profile.information %>

        <div class="user-profile-posts">
          <h3><%= @user.username %>'s Posts</h3>
          <%= render "user_posts" %>
        </div>
    </div>
</div>
