      <div class="display-title">
        <%= image_tag "viking-ship", class: "viking-ship" %>
        <h1 class="site-title">Runebook</h1>
        <div class="display-title-links">
          <%= link_to posts_path, :class => "display-title-link" do %>
            <span>H</span><span>o</span><span>m</span><span>e</span>
          <% end %>
          <%= link_to about_path, :class => "display-title-link" do %>
            <span>A</span><span>b</span><span>o</span><span>u</span><span>t</span>
          <% end %>
            <%= form_with(url: search_path, method: :get, local: true) do |f| %>
              <%= f.text_field :query, placeholder: "Search Friends" %>
              <%= button_tag type: 'submit', class: 'search-button' do %>
                <%= image_tag "shield", class: "shield" %>
              <% end %>
            <% end %>
          <%= link_to edit_user_registration_path, :class => "display-title-link" do %>
            <span>A</span><span>c</span><span>c</span><span>o</span><span>u</span><span>n</span><span>t</span>
          <% end %>
          <%= link_to destroy_user_session_path, :class => "display-title-link", data: { "turbo-method": :delete } do %>
            <span>L</span><span>o</span><span>g</span><span>o</span><span>u</span><span>t</span>
          <% end %>
        </div>
      </div>