  <div class="sidebar">
    <%= cl_image_tag @current_user.profile.image.key, :width=>190, :crop=>"fill", :default_image => "placeholder-icon_vcawzm.png", :radius => "max" %>
    <p><%= @current_user.username %></p >

    <div class="sidebar-links">
      <%= image_tag "horn" %>
      <%= link_to "Posts", posts_path if current_user %>
      <%= image_tag "friends" %>
      <%= link_to "Users", users_path if current_user %>
      <%= image_tag "my-friends" %>
      <%= link_to "My Friends", friends_path %>
      <%= image_tag "friend-requests" %>
      <%= link_to "Friend Requests", user_friend_requests_path(:user_id => current_user.id) if current_user %>
      <%= image_tag "my-profile" %>
      <%= link_to "My Profile", user_path(:id => current_user.id) if current_user %>
      <%= image_tag "edit-profile" %>
      <%= link_to "Edit Profile", edit_profile_path(:id => current_user.profile.id) if current_user %>    
    </div>
  </div>