<div class="posts-page">
  <div class="posts-page-column-1">
    <%= render "shared/sidebar" %>
    <%= render "shared/friends" %>
  </div>

  <div class="posts-page-column-2">
    <div class="post-form">
      <%= render "post_form" %>
    </div>

    <div class="post-display">
      <div class="post-display-headers">
        <h1>Timeline</h1>
        <h2>Latest posts</h2>  
      </div>

      <%= turbo_frame_tag :like do %>
        <%= form_tag(posts_path, method: :get) do %>
          <%= select_tag :open, options_for_select([['Friends Posts', false], ['Public Posts', true]], selected: @open_filter), onchange: 'this.form.submit()' %>
        <% end %>

        <% @posts.each do |post| %>
          <div class="post-display-content">
            <%= render partial: "show_post", locals: { post: } %>
          </div>

          <div class="comments-display">
            <%= render partial: "comments", locals: { post: } %>
          </div>

          <div class="comment-form", id="options", data-controller="visibility">
            <%= render partial: "comment_form", locals: { post: } %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
