<h1>Timeline</h1>

<%= form_with model: @post do |post| %>
  <%= post.label :body, "What's on your mind?" %><br />
  <%= post.text_area :body, size: "40x7", maxlength: 280 %>
  <%= post.file_field :image %>
  <%= post.submit "Create" %>
<% end %>

<% @posts.each do |post| %>
  <%= post.user.username + ":" %>
  <%= post.body %>
  <% if post.liked?(@current_user) %>
    <%= link_to like_path(id: post.user_like(@current_user)), data: { 'turbo-method' => :delete } do %>
      <%= image_tag("https://cdn-icons-png.flaticon.com/512/739/739231.png", size: "16x20") %>
    <% end %>
    <%= " x " + post.likes.count.to_s %>
  <% else %>
    <%= link_to likes_path(:like => { likeable_id: post.id, likeable_type: 'Post' }), data: { 'turbo-method' => :post } do %>
      <%= image_tag("https://cdn-icons-png.flaticon.com/512/126/126473.png", size: "16x20") %>
    <% end %>
    <%= " x " + post.likes.count.to_s %>
  <% end %>
  <% post.comments.each do |comment| %>
  <br />
   <%= comment.user.username + ":" %>
    <%= comment.body %>
  <% end %>
  <%= form_with model: [post, post.comments.build] do |form| %>
    <%= form.text_field :body %>
    <%= form.submit 'Comment' %>
  <% end %>
<% end %>