<div class="posts-page">

  <div class="posts-page-column-1">
    <%= render "shared/sidebar" %>

    <div class="friends-display">
      <span class="username">Friends</span>
        <% @current_user.friends[0..2].each do |friend| %>
          <div class="single-friend-container">
            <%= link_to friend.username, user_path(id: friend.id) %>
            <%= cl_image_tag friend.profile.image.key, :width=>40, :height=>40, :crop=>"fill", :radius=>"max", :default_image => "placeholder-icon_vcawzm.png" %>
          </div>
        <% end %>
      </div>
    </div>

<div class="posts-page-column-2">
  <div class="post-form">
    <h1>New Post</h1>
    <%= form_with model: @post do |post| %>
      <% post.label :body %>
      <%= post.text_area :body, size: "55x4", maxlength: 280, placeholder: "Announce your feats..." %>
      <div class="image-upload">
        <%= post.file_field :image, direct_upload: true, id: "image-input", class: "file-input" %>
        <label for="image-input">
          <%= image_tag "scroll", class: "scroll" %>
        </label>
        <%= post.submit "Create" %>
      </div>
    <% end %>
  </div>

  <div class="post-display">
    <div class="post-display-headers">
      <h1>Timeline</h1>
      <h2>Latest posts</h2>  
    </div>

    <%= turbo_frame_tag :like do %>
      <% @posts.each do |post| %>
      <div class="post-display-content">
        <div class="post-display-content-image">
          <%= cl_image_tag post.user.profile.image.key, :width=>40, :height=>40, :crop=>"fill", :radius=>"max", :default_image => "placeholder-icon_vcawzm.png" %>
          <div class="line"></div>
        </div>

        <div class="post-display-content-text">
          <span class="username"><%= link_to "#{post.user.username + ":"}",  user_path(id: post.user.id) %></span>
          <%= post.body %>
          <%= cl_image_tag post.image.key, :width=>250, :crop=>"fill" if post.image.attached? %>
          
            <% if post.liked?(@current_user) %>
              <%= link_to like_path(id: post.user_like(@current_user)), data: { 'turbo-method' => :delete } do %>
                <%= image_tag "like", class: "like" %>
              <% end %>
              <%= " x " + post.likes.count.to_s %>
            <% else %>
              <%= link_to likes_path(:like => { likeable_id: post.id, likeable_type: 'Post' }), data: { 'turbo-method' => :post } do %>
                <%= image_tag "unlike", class: "unlike" %>
              <% end %>
              <%= " x " + post.likes.count.to_s %>
            <% end %>
          <%= render "delete_post", :post => post, :current_user => @current_user %>
        </div>
      </div>

        <div class="comments-display">
            <% post.comments.each do |comment| %>
            <div class="comments-display-content">
              <div class="comments-display-image">
                <%= cl_image_tag comment.user.profile.image.key, :width=>40, :height=>40, :crop=>"fill", :radius=>"max", :default_image => "placeholder-icon_vcawzm.png" %>
                <div class="line"></div>
              </div>

              <div class="comments-display-text">
                <span class="username"><%= link_to "#{comment.user.username + ":"}",  user_path(id: comment.user.id) %></span>
                <%= comment.body %>
                <div class="post-delete-link">
                  <%= link_to "Delete Comment", post_comment_path(post, comment), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } if comment.user == @current_user %>            
                </div>
              </div>   
            </div>
          <% end %>    
        </div>

        <div class="comment-form", id="options", data-controller="visibility">
          <button class="show-comment-button", data-action="visibility#toggleTargets", 
          id="show-comment-button">Comment</button>
          <% flash.each do |type, message| %>
            <div class="invalid-comment-flash" >
              <%= message %>
            </div>
          <% end %>
          <div data-visibility-target="hideable" hidden>
            <%= form_with model: [post, post.comments.build] do |form| %>
              <%= form.text_area :body, size: "60x4", required: "required", id: "comment_body" %>
              <%= form.submit 'Post Comment' %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>