<h1>Timeline</h1>

<%= form_with model: @post do |post| %>
  <%= post.label :body, "What's on your mind?" %><br />
  <%= post.text_area :body, size: "40x7", maxlength: 280 %>
  <%= post.submit "Create" %>
<% end %>

<% @posts.each do |post| %>
  <%= post.body %>
  <%= form_with model: [post, @comment] do |form| %>
    <%= form.text_field :body %>
    <%= form.submit 'Comment' %>
  <% end %>
<% end %>